.camera--preview--screenshot {
   display: inline-block;
   width: calc((100% - 0.2rem) / 3);
   margin-right: 0.1rem;
   margin-bottom: 0.1rem;
   list-style: none;
   &:nth-of-type(3n) {
      margin-right: 0;
   }
   @media (min-width: 1024px) {
      width: calc((100% - 0.3rem) / 4);
      &:nth-of-type(3n) {
         margin-right: 0.1rem;
      }
      &:nth-of-type(4n) {
         margin-right: 0;
      }
   }
   img {
      max-width: 100%;
   }
}