@import '../../styles/colors';
@import '../../styles/mixins';

.camera {
    &--icon {
        position: fixed;
        top: 0.8rem;
        right: 1.5rem;
        font-size: 1.5rem;
        color: $green;;
        @media (min-width: 768px) {
            top: 1.5rem;
            right: 2rem;
            font-size: 2rem;
        }
    }
}

